{% extends 'base.html' %}
{% block title %} {{post.title}} | Coding Blog {% endblock %}
{% block content %}

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-10">
            <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">{{post.title}}</h1>
            <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s">{{post.intro}}</p>
            <div class="flex mt-6 justify-center">
                <span class="mr-2">Category :</span>
                <span class="text-indigo-500 font-semibold"> <a
                        href="{% url 'category-details' post.category.slug %}">{{post.category}}</a></span>
            </div>
        </div>
        <div class="mb-5">
            {% if post.image %}
            <img alt="content" class="object-cover w-[1024px] object-center mx-auto rounded-xl"
                src="{{post.image.url}}">
            {% else %}
            <img alt="content" class="object-cover w-[1024px] object-center mx-auto rounded-xl"
                src="https://dummyimage.com/1203x503">
            {% endif %}
        </div>
        <div class="text-center">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti alias itaque nihil quo natus numquam
                amet quis tempore. Repellendus placeat sint magnam itaque architecto. Quas atque cumque aspernatur
                quisquam odit et, aliquam, error obcaecati sint ipsam deleniti molestiae unde porro voluptatum esse
                doloribus velit vero voluptas explicabo aut adipisci, debitis sequi consectetur? Sint ipsa commodi
                tempora quis voluptates, et eveniet dolores fuga vitae, repellendus modi, quasi cumque est minus totam
                veritatis consectetur distinctio maiores. Quas iusto magni adipisci esse repellendus architecto saepe
                odio, fugit modi, amet vel minima expedita maxime dolores, exercitationem eius quaerat. Itaque harum sit
                reprehenderit et magni nihil maiores corrupti labore nisi eaque, perspiciatis laborum, est mollitia
                veniam ut amet! Eaque quod fugiat, totam vitae itaque obcaecati dolorem reiciendis, dicta officiis
                minima non maiores necessitatibus. Perferendis repudiandae minima cum! Quidem exercitationem in vel
                earum, perferendis consequuntur laboriosam incidunt mollitia autem fugiat est. Incidunt ut eos possimus
                quas fugit sunt! Voluptatum laborum optio inventore fugiat sed quaerat repellendus molestias vel ullam
                autem nihil nam alias vitae fuga animi aliquid reiciendis cum reprehenderit corrupti dolore, harum unde
                quibusdam! Tempora, beatae. Et modi dolores, illum dolorum recusandae porro, animi id deserunt, quo
                nulla eligendi nesciunt! Quia eligendi ab sapiente ducimus!</p>
        </div>

        <h2 class="font-semibold text-3xl mt-20 mb-4 text-center">Comments</h2>
        <hr class="mb-14">

        <!-- Comments -->
        <div class="container px-5 mx-auto">
            {% for comment in post.comments.all %}
            <div class="-my-8 divide-y-2 divide-gray-100">
                <div class="py-8 flex flex-wrap md:flex-nowrap">
                    <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                        <span class="font-semibold title-font text-gray-700">{{comment.name}}</span>
                        <span class="mt-1 text-gray-500 text-sm">{{comment.created_at|timesince}}</span>
                    </div>
                    <div class="md:flex-grow">
                        <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">{{comment.email}}</h2>
                        <p class="leading-relaxed">{{comment.body}}</p>
                        <a class="text-indigo-500 inline-flex items-center mt-4">Reply
                            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <hr class="mt-14">

        <div class="mt-32">
            <form action="" method="post">
                {% csrf_token %}
                {{form.as_p}}

                <div>
                    <button type="submit" class="bg-blue-600 px-8 py-1 text-white rounded-lg">Post</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}